
.choose_playground_main_div {
    margin: 2em;
}

.choose_playground_type_form {
    margin: auto;
}

.playground-filter-form {
    margin: auto;
}

.choose_playground_green {
    color: green;
}

.choose_playground_red {
    color: red;
}