<div style="margin: 1em;">
    <h1 *ngIf="defect.tid != 0">Mangel {{defect.tid}}</h1>
    <h1 *ngIf="defect.tid == 0">Neuer Mangel</h1>

    <p><b>Erstellt am: {{defect.dateCreation | date: 'dd.MM.yyyy'}}</b></p>

    <div style="width: 100%;margin: 0.5em;">
        <h4>Beschrieb des Mangels</h4>
        <mat-form-field style="width: 100%;">
            <mat-label>Beschrieb des Mangels...</mat-label>
            <textarea matInput maxlength="255" [(ngModel)]="defect.defectDescription"
                placeholder="Beschrieb des Mangels..." style="width: 100%;"></textarea>
        </mat-form-field>
    </div>
    <form>
        <mat-form-field appearance="fill" style="margin:0.5em;">
            <mat-label>Dringlichkeit</mat-label>
            <mat-select [(value)]="defect.priority">
                <mat-option value="1">A (sofort)</mat-option>
                <mat-option value="2">B (mittelfristig)</mat-option>
                <mat-option value="3">C (Ohne Gefahr, muss im Folgejahr beurteilt werden)</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" style="margin:0.5em;">
            <mat-label>Zuständigkeit</mat-label>
            <mat-select name="responsible" [(ngModel)]="defect.defectsResponsibleBodyId" class="form-select">
                <mat-option value="1">Revier</mat-option>
                <mat-option value="2">Spielplatzverantwortlicher</mat-option>
                <mat-option value="3">Projektleiter</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    <div style="margin: 2em;padding: 1em;border: 1px dashed rgb(55, 124, 227);background-color: rgb(214, 227, 242);">
        <p style="color: rgb(28, 89, 180);">Fotos des Mangels</p>
        <input type="file" *ngIf="defect.tid != 0 && defect.defectPicsTids.length < 3" accept="image/png"
            (change)="uploadPhoto(defect.tid, false, $event)" style="padding: 1em;" />
        <a *ngFor="let defectPicTid of defect.defectPicsTids" href="{{environment.apiUrl}}/defect/picture/{{defectPicTid}}?thumb=false"
            target="_blank">
            <img title="Foto des Mangels" src="{{environment.apiUrl}}/defect/picture/{{defectPicTid}}?thumb=true" width="30%"
                style="margin: 2px;border: 1px solid rgb(160, 188, 230);">
        </a>
    </div>
    <hr>
    <p><b>Erledigung des Mangels:</b></p>
    <p><mat-checkbox [(ngModel)]="defect.done" (click)="switchDefectStatus(defect)" style="margin:10px;">
            Mangel erledigt</mat-checkbox></p>
    <div *ngIf="defect.done"
        style="margin: 2em;padding: 1em;border: 1px dashed rgb(218, 104, 69);background-color: rgb(245, 239, 245);">
        <p style="color: rgb(172, 73, 43);">Fotos nach Mangelbeseitigung</p>
        <input type="file" *ngIf="defect.tid != 0 && defect.defectPicsAfterFixingTids.length < 3"
            (change)="uploadPhoto(defect.tid, true, $event)" accept="image/png" style="padding: 1em;" />
        <a *ngFor="let defectPicTid of defect.defectPicsAfterFixingTids"
            href="{{environment.apiUrl}}/defect/picture/{{defectPicTid}}?thumb=false" target="_blank">
            <img title="Foto der Mangelbehebung" src="{{environment.apiUrl}}/defect/picture/{{defectPicTid}}?thumb=true" width="30%"
                style="margin: 2px;border: 1px solid rgb(160, 188, 230);">
        </a>
    </div>
    <p><span><i>Datum der Erledigung: </i>
            <span *ngIf="defect.dateDone">
                {{defect.dateDone | date: "dd.MM.yyyy"}}
            </span>
            <span *ngIf="!defect.dateDone">Noch nicht erledigt</span>
        </span>
    </p>
    <mat-form-field style="width: 100%;margin: 0.5em;">
        <mat-label>Bemerkung zur Erledigung</mat-label>
        <textarea matInput maxlength="255" [(ngModel)]="defect.defectComment"
            placeholder="Bemerkung zur Erledigung..."></textarea>
    </mat-form-field>
    <p><i>Erledigt durch</i>:
        <span *ngIf="!defect.dateDone">Noch nicht erledigt</span>
        <span *ngIf="defect.dateDone && userService.isUserLoggedIn()">
            {{userService.getLocalUser().firstName}}
            {{userService.getLocalUser().lastName}}</span>
    </p>
    <button *ngIf="defect.tid != 0" mat-button (click)="updateDefect()"
        style="color: white;background-color: darkgreen;margin: 2em;">
        SPEICHERN
    </button>
    <button *ngIf="defect.tid == 0" mat-button (click)="createDefect()"
        style="color: white;background-color: darkgreen;margin: 2em;">
        ANLEGEN
    </button>
</div>