.exp_panel_red {
    background-color:rgb(252, 230, 230);
}

.exp_panel_green {
    background-color:rgb(238, 255, 238);
}

.choose_type_of_inspection_text {
    margin: 1em;
    color: grey;
}

.select_option_green {
    color: green;
}

@media print {
    .choose_type_of_inspection_text {
        display: none;
    }
    h1, h2, h3, h4 {
        page-break-after: avoid;
    }
    h2 {
        font-size: 120%;
    }
}